#wholepage{
	height:100%;	
	width:100%;	
} 
#header{
	height:10%;	
	width:100%;	
	background:#239B56 ;
}
#popularlinks{
	height:10%;	
	width:100%;	
	background:#58D68D;
}
#productDisplay{
	height:70%;	
	width:100%;	
	background:white;
}
#footer{
	height:10%;	
	width:100%;	
	background:#145A32;
}
#filter{
	height:100%;	
	width:10%;	
	background:#E8F6F3;
	float:left;
}
#products{
	height:100%;	
	width:90%;	
	background:white;
	float:left;
}