#wholepage{
	height:100%;	
	width:100%;	
	background:yellow;
} 
#prod{
	height:200px;
	width:200px;
	float:right;
	background:green;
	margin-left:10px;
	padding-left:50px;
	padding-top:50px;
	 
}
#logo{
	height:20%;	
	width:100%;	
	background:red;
	font-size:25;
	color:black;
	font-family:verdana;
text-align: center;
 
}
#logo:hover{
	
	border-style: solid;
	background:orange;
}


#body{
	height:70%;	
	width:100%;	
	background:green;
}
#footer{
	height:10%;	
	width:100%;	
	background:#11234B;
	
}

#filter{
	height:100%;	
	width:10%;	
	background:white;
	float:left;
}

#productDisplay{
	height:100%;	
	width:90%;	
	background:#C1D3FA;
	float:left;
	
}